.left-menu {
  width: 150px;
  height: 100%;
  background: #000;
  color: #fff;
  position: fixed;
  margin-left: -150px;
}
.black-background {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: block;
  transform: translateY(-100vh);
  transition: all 0.5s;
}
.black-background.slide-down {
  transform: translateY(0);
}
.white-background {
  background: #fff;
  width: 80%;
  margin: 100px auto;
  padding: 20px;
  border-radius: 8px;
}
.email-alert,
.psw-alert{
  display: none;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.nav-sub {
  display: none;
}
.main-background {
  background-image: url('images/scenery.jpg');
  background-size: cover;
  color: white;
  border-radius: 0;
}
.slide-container {
  width: 300vw;
  display: flex;
  transition: all 0.8s;
}
.slide-box {
  width: 100vw;
}
.slide-box img {
  width: 100%;
}
.slide-next {
  position: absolute;
  top: 45%;
  right: 0;
}
.slide-prev {
  position: absolute;
  top: 45%;
  left: 0;
}