.black-background {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: none;
}
.white-background {
  background: #fff;
  width: 80%;
  margin: 100px auto;
  padding: 20px;
  border-radius: 8px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.nav-sub {
  display: none;
}
.main-background {
  background-image: url('images/scenery.jpg');
  background-size: cover;
  color: white;
  border-radius: 0;
}